<div class="duration">
  <h4 class="duration__title">How long will you need the cleaner for?</h4>
  <mat-form-field class="duration__form">
    <mat-select
      placeholder="Hours"
      [formControl]="durationControl"
      required
      aria-required="true"
      aria-label="Hours you need the cleaner"
      (selectionChange)="onChange($event)"
    >
      <mat-option
        *ngFor="let hour of durationOptions"
        [value]="hour.value"
      >{{hour.description}}</mat-option>
    </mat-select>
    <mat-error *ngIf="durationControl.hasError('required')">Please select a value from the dropdown</mat-error>
  </mat-form-field>
  <button
    routerLink="/availability"
    qa="duration__button"
    mat-raised-button
    color="primary"
    (click)="onClickAvailability()"
    [disabled]="durationControl.hasError('required')"
  >Check availability</button>
</div>